@font-face {
  font-family: Gotham;
  src: url(other/gothamrounded-book.otf);
}

body {
  color: #fff;
  font-family: 'Gotham';
  margin: 0;
  -webkit-animation: bgcolor 100s infinite;
  animation: bgcolor 100s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

iframe {
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: none;
}

.warning {
  width: 16px;
  height: 16px;
}

@keyframes bgcolor {
  0% {
    background: #000000
  }

  33% {
    background: #000000
  }

  66% {
    background: #000000
  }

  100% {
    background: #000000
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
  cursor: pointer;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 10px;
  display: block;
  height: 55vh;
  width: 95vw;
  margin: 0 2.5vw;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.bubble {
  clear: both;
  display: none;
  background: #E8E8E8;
  color: #1e1e1e;
  border-radius: 25px;
  float: right;
  width: auto;
  height: auto;
}

#user {
  padding: 15px;
  margin: 15px;
  margin-bottom: 0;
}

br {
  display: none;
}

#omni {
  background-color: #0E82F6;
  color: #fff;
  float: left;
  padding: 15px;
  margin: 15px;
}

.button {
  background-color: #727476;
  border-radius: 50%;
  border: none;
  width: 9vw;
  height: 9vw;
  min-width: 50px;
  min-height: 50px;
  max-width: 75px;
  max-height: 75px;
  margin: 0.5vw;
}

.button:active {
  background-color: #656769;
}

#title {
  margin: 0;
  font-size: calc(12px + 5vw);
  text-align: center;
}

#subtitle {
  margin-top: 0;
  font-size: calc(12px + 1vw);
  text-align: center;  
}

#recognition {
  text-align: center;
  margin-bottom: 1vh;
}

.button2 {
  position: fixed;
	border: none;
  margin: 2.5vh 2.5vw;
	padding: 1.5vh 2.5vw;
	background: #727476;
  color: #fff;
	border-radius: 8px;
	display: block;
	line-height: 0;
}

.button2:active {
	background: #656769;
}

.icon {
  width: 70%;
  height: 70%;
}

#interim {
  color: gray;
}

/* BUTTON CSS */

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	background: rgba( 0, 0, 0, 0.4);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show~.md-overlay {
	opacity: 1;
	visibility: visible;
}


/* Content styles */

.md-content {
  color: #1e1e1e;
	background: #fff;
	position: relative;
	border-radius: 10px;
	margin: 0 auto;
	width: 80vw;
	height: 80vh;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4)
}

.md-close {
  background: #EAEAEA;
}

.md-close:active {
  background: #EAEAEA;
}

.md-content h3 {
	margin: 0;
	padding: 1vw;
	text-align: center;
	font-size: calc(18px + 1.5vw);
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px 10px 0 0;
}

.md-content>div {
  text-align: center;
	padding: 4vh 3vw 4vh;
	margin-top: calc(3.5vw + 18px + 1vh);
	font-weight: 100;
	font-size: calc(18px + 0.2vw);
	position: absolute;
	top: 0;
	overflow: auto;
	height: calc(80vh - calc(3.5vw + 18px + 9vh));
	width: 74vw;
}

.md-content button {
	font-size: calc(80% + 0.3vw);
	z-index: 1;
	right: 0;
	top: 0;
  margin: 0;
	padding: 15px;
  background-color: transparent;
}

.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

#alert {
  position: fixed;
  right: 20px;
  top: 0;
}

input {
  width: 50%
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #727476;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #34A853;
}

input:focus + .slider {
  box-shadow: 0 0 1px #34A853;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#banner {
  padding: 20px;
  background-color: rgb(249, 189, 0);
  color: white;
  width: 97.4vw;
  position: fixed;
  z-index: 1;
  display: none;
}

.closebtn {
  margin-right: 20px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}

.closebtn:hover {
  color: black;
}
